*{
    margin:0px;
    padding:0px;

}
div{
    background-color: tomato;
    padding:10px;
    margin-bottom: 10px;

}
.calenderPic{
    height: 200px;
      width:400px;
      border-radius: 5px;
      

}